//colors
$white: #fff;
$black: #1b1c1e;
$maroon: #9e3c10;
$black-shade: #2d2e32;

//elements
$background-color: $white;
$gray-bg-color: #f9f9f9;
$title-color: $maroon;
$sub-title-color: #858585;
$text-color: #767676;
