@use "./variables" as *;
@use "./colors" as *;
@use "./typo" as *;

@mixin media-query($key) {
    $size: map-get($breakpoints, $key);
    @media only screen and (min-width: $size) {
        @content;
    }
}

// to use :
// @include media-query(small) {}

@mixin title {
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

@mixin subtitle {
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.4;
    color: $black;
    font-size: $headings-size;
}
