#about {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    font-size: $text-size-sm;
    padding-top: $mg-container-sm;
    padding-bottom: $mg-container-sm;
    text-align: center;
    @include media-query(large) {
        font-size: $text-size;
        flex-direction: row;
        padding-top: $mg-container;
        padding-bottom: $mg-container;
        text-align: left;
        align-items: flex-start;
    }
}

.about {
    &_picture {
        object-fit: contain;
        border-radius: 3%;
        overflow: hidden;
        height: 20rem;
        aspect-ratio: 2/1;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-query(large) {
            height: 35rem;
            aspect-ratio: 1/1;
        }

        & img {
            width: 35rem;
        }
    }
    &_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        @include media-query(large) {
            width: 70rem;
        }

        & .title {
            @include title;
        }
        & .subtitle {
            @include subtitle;
        }
        & .text {
            line-height: 1.4;
        }
    }
}
