#experiences {
    background-color: $gray-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: $text-size_sm;
    padding-top: $mg-container-sm;
    padding-bottom: $mg-container-sm;
    @include media-query(medium) {
        font-size: $text-size;
        padding-top: $mg-container;
        padding-bottom: $mg-container;
        text-align: left;
    }

    & .title {
        @include title;
    }

    & .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        @include media-query(medium) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            & > div {
                width: 45%;
            }
        }

        & .exp {
            width: 100%;
            cursor: pointer;

            &_title {
                color: $black;
                line-height: 1.4;
            }
        }
    }
}
