#footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $headings-size;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer {
    &_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        & .social {
        }
    }
}
