#footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: $text-size-sm;
    color: white !important;
    font-weight: 700;
    @include media-query(large) {
        flex-direction: row;
        font-size: $text-size;
    }
}

.footer {
    &_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        & .social {
            & img {
                height: 3rem;
            }
        }
    }
}
