.hero {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding-top: $mg-container;
    padding-bottom: $mg-container;
}

.content {
    display: flex;
    align-items: stretch;
    gap: 2rem;
    &_picture {
        object-fit: contain;
        border-radius: 5%;
        width: 23rem;
        overflow: hidden;
        aspect-ratio: 1/1.3;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            height: 100%;
        }
    }
    &_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        width: 40rem;
        & h1 {
            font-size: 5rem;
            font-weight: 700;
            line-height: 100%;
        }
        & p {
            font-size: $text-size;
            & span {
                font-size: 3rem;
            }
        }
    }
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    & p {
        font-size: $text-size;
        font-weight: 600;
        padding: 1rem 2rem;
        border-right: 0.3rem solid black;
    }
    & div {
        & ul {
            display: flex;
            gap: 2rem;
            list-style-type: none;
        }
    }
}

.link {
    &_container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        & .social {
            background-color: black;
            padding: 1.1rem;
            border-radius: 100%;
            & img {
                height: 2.5rem;
            }
        }
    }
}
