#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $text-size_sm;
    padding-top: $mg-container-sm;
    padding-bottom: $mg-container-sm;
    @include media-query(large) {
        font-size: $text-size;
        padding-top: $mg-container;
        padding-bottom: $mg-container;
        text-align: left;
    }
}

.portfolio {
    &_title {
        @include title;
    }
    &_subtitle {
        @include subtitle;
        margin-bottom: 1rem;
    }
    &_text {
        color: #2d2e32;
        margin-bottom: 6rem;
    }
    &_container {
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        height: auto;
        width: 100%;
        justify-items: center;
        align-items: center;
    }
}
