.projectbox {
    width: 90rem;
    border-radius: 1.7rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    &:nth-child(2n) {
        flex-direction: row-reverse;
    }
    &_picture {
        position: relative;
        border-radius: 3%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;

        background-color: hsla(0, 0%, 46%, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: auto;
        overflow: hidden;
        width: 53rem;

        & img {
            position: absolute;
            top: 0;
            left: 0;
            overflow-clip-margin: content-box;
            overflow: clip;
            height: auto;
            width: 100%;
        }
    }
    &_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 5rem;
        & .title {
            font-size: 3rem;
            font-weight: 700;
            line-height: 100%;
        }
        & .text {
            font-size: $text-size;
        }
        & .buttons {
            display: flex;
            gap: 2rem;
            & button {
                width: 20rem;
                background-color: white;
                padding: 1rem 2rem 1rem 2rem;
                border: 0.3rem solid black;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}
