//Base
@use "./base/colors" as *;
@use "./base/typo" as *;
@use "./base/mixins" as *;
@use "./base/variables" as *;

//Components
@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/experiences";
@import "./components/portfolio";
@import "./components/projectbox";
@import "./components/contact";
@import "./components/footer";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $background-color;
    font-family: $text-font;
    position: relative;
}

#home,
#hero,
#about,
#experiences,
#portfolio,
#contact,
#footer,
header {
    padding-left: 2rem;
    padding-right: 2rem;

    @include media-query(large) {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

h1,
h2,
h3 {
    font-family: $title-font;
    font-weight: 700;
    color: $title-color;
}

a {
    color: inherit;
    text-decoration: inherit; /* no underline */
}
